* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.wrapper {
    width: 500px;
    margin: 100px auto 0;
    border: 1px solid black;
    border-radius: 4px;
}

.search {
    padding: 10px;
}

.search input.search-box {
    width: 250px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    vertical-align: middle;
}

.search p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.search span {
    color: orange;
    background: #ffffff;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.search .active {
    color: #ffffff;
    background: orange;
}

.userList li {
    border-bottom: 1px solid black;
    padding: 20px;
}
.userList li:last-child {
    border-bottom: none;
}

.userList img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.userList p {
    line-height: 25px;
    margin-left: 70px;
}